.calculatorForm__Message {
    height: 80px;
    width: 400px;
    font-size: 24px;
    margin: 30px auto;
    text-align: center;
    opacity: 0;
    color: transparent;
    transition: opacity 0.2s linear;
    line-height: 1;
}

.calculatorForm__Message--warning {
    opacity: 1;
    color: red;
}

.calculatorForm__Message--info {
    opacity: 1;
    color: rgba(157, 233, 145, 0.76);
}

@media (max-width: 500px) {
    .calculatorForm__Message {
        height: 80px;
        width: 200px;
        font-size: 20px;
        margin: 20px auto;
    }
}